html{
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 0,auto;
    background-color: darkslategrey;

}

body{
    background-color: bisque; 
    height: auto;
    width: auto;
}


#wrapper img{
    height: 100%;
    width: 100%;
    color: blue;
}

#main img{
    padding: 30%;
}
/*--------nav--------*/
nav{
  background: #333;
}

nav ul{
  list-style-type:  none;
  padding: 0;
}

nav a{
  text-decoration: underline;
    text-transform: capitalize;
  text-align: center;
  color: #fff;
  display: block;
  padding: 10px;
}

nav a:hover{
  background-color: #555;
}

@media screen and (min-width: 768px){

nav ul{
  display: flex;
}

nav li{
  flex: 1 1 0;
}
/*-------Animation------------*/
.luigi{
    margin: 0%;
    padding: 10%;
    position: absolute;
    position: absolute;
   height: 50%;
    width: 15%;
left: 0;
animation: drive1 6s 0.5s both  infinite , jump 3s 0.5s both infinite;
 animation-timing-function: ease-in;
}


    
@keyframes drive1{
    from{transform: translateX(-600px)}

    to{transform: translatex(850px)}
}

@keyframes jump {
    0%   {top: -10%}
    10%   {top: -20%}
    20%   {top: -30%}
    30%   {top: -40%}
    50%   {top: -60%}
    60%   {top: -50%}
    70%   {top: -40%}
    80%   {top: -30%}
    90%   {top: -20%}
    100%  {top: -10%}
}
